models/slprj/
*.autosave
*.slxc
*.mexw64
.clangd
CPU1_*/
.settings/
.theia/
build/
*Target files/
*autogen.h
*autogen.txt
ieee_cigre_dll/dll_config_generated.h
*slprj/
*.gf46/
*.vscode/
__pycache__/
*.pyc
